<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Fete</h1>
    <h1 class="subtitle mb-2">Descoperă Eleganța și Creativitatea</h1>
    <h1 class="subtitle2 mb-6">Capturați Emoțiile în Culori</h1>
    <h1 class="subtitle2 mb-6">Tatuajelor Feminine</h1>

    <div class="text mb-4">
      Bine ai venit în universul fermecat al tatuajelor pentru fete, unde
      eleganța și creativitatea se întâlnesc pentru a vă oferi experiente unice.
      La salonul nostru, suntem dedicați să transformăm visurile în realitate și
      să îți oferim tatuaje elegante, proiectate special pentru a-ți evidenția
      individualitatea.
    </div>
    <div class="text mb-4">
      Fie că alegi un tatuaj mic și subtil sau unul mai amplu și detaliat,
      suntem aici să te încurajăm să explorezi și să exprimi cu încredere ceea
      ce tedefinește. Oferim experiențe memorabile pentru fiecare client, și
      suntem mândri să facem parte din călătoria ta spre tatuajul perfect.
    </div>
    <div class="text mb-4">
      Transformați-vă corpul într-o pânză de seducție și mister cu tatuajele
      noastre sexy.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>s
<br />
<br />
