<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Match Tattoos</h1>
    <h1 class="subtitle mb-2">Tatuaje de Cuplu sau Tatuajele prieteniei</h1>
    <h1 class="subtitle2 mb-6">Împărtășește o parte din tine cu cei dragi!</h1>

    <div class="text mb-4">
      Tatuajele Match Tattoos sunt o modalitate inovatoare și creativă de a
      sărbători legăturile cu persoanele dragi. Aceste tatuaje se realizează în
      cuplu sau în grup, în care fiecare persoană poartă o jumătate dintr-un
      design care se completează când sunt apropiate sau poarta acelas tatuaj,
      simbol ,etc. Această categorie de tatuaje simbolizează unitatea, prietenia
      și conexiunea specială între oameni. Indiferent de distanță sau timp,
      legătura voastră este completă și inepuizabilă.
    </div>
    <div class="text mb-4">
      Uite aici câteva exemple din portofoliul nostru, pentru a te putea inspira
      în alegerea unui tatuaj de cuplu sau care să reprezinte prietenia.
    </div>
    <div class="text mb-4">
      Este important să vorbești cu prietenul sau persoana iubită, să gasiți un
      motiv, o idee, o pasiune sau o valoare comună pe care să le vi le puteți
      asuma impreună. Putem ajuta cu idei în ceea ce privește designul
      tatuajelor de cuplu , putem veni cu „modele” de match tattoos dar trebuie
      să avem de ce ne agăța în prealabil.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
