<div class="m-4 flex flex-column align-items-center">
    <div>
        <h1 class="title">Modele Tatuaje</h1>
        <h1 class="subtitle">Catalog Portofoliu Tatuaje</h1>
    
        <div class="mt-6"> Am structurat <strong>Portofoliul</strong> salonului de <strong>tatuaje</strong> pe diferite categorii pentru a <strong>te ajuta</strong> in gasirea inspiratiei</div>
        <div class="mt-2"> Pentru a vedea ultimile noastre lucrari, te invitam sa dai un follow pe platformele noastre de social media</div>
        <div> SocialLinksz</div>
    </div>

    

    
    <div class="grid flex align-items-center justify-content-center mt-6">
        <a [routerLink]="'/tatuaje-mici'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Mici
        </a>
        <a [routerLink]="'/tatuaje-mari'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Mari
        </a>
        <a  [routerLink]="'/tatuaje-medii'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Medii
        </a>
        <a  [routerLink]="'/black-and-gray'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Black & gray
        </a>
        
        <a  [routerLink]="'/color'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Color
        </a>
        <a  [routerLink]="'/fete'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Fete
        </a>
        <a [routerLink]="'/baieti'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Baieti
        </a>
        <a [routerLink]="'/portret'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Portret
        </a>
        
        <a [routerLink]="'/geometrice'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Geometrice
        </a>
        <a [routerLink]="'/liniare'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Liniare
        </a>
        <a [routerLink]="'/custom'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Custom
        </a>
        <a [routerLink]="'/sketch'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Sketch
        </a>
        
        <a [routerLink]="'/animale'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Animale
        </a>
        <a [routerLink]="'/anime-cartoon'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Anime Cartoon
        </a>
        <a [routerLink]="'/match'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Match Tattos
        </a>
        <a [routerLink]="'/scris'" class="lg:col-3 md:col-4 sm:col-12 category-item m-2">
            Tatuaje Scris
        </a>
    </div>
    
</div>




