<div class="grid flex align-items-center m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele <span class="gray">Black & Gray</span></h1>
    <h1 class="subtitle mb-2">Finețe și Eleganță</h1>
    <h1 class="subtitle2 mb-6">în tehnica <span>GreyWash</span></h1>
    <h1 class="subtitle2 mb-6">
      Mai <span>putin dureroase</span> decât tatuajele full color
    </h1>

    <div class="text mb-4">
      Tatuajele black and gray se remarcă prin
      <span>eleganța și simplitatea lor sofisticată.</span> Fiecare tatuaj este
      o expresie a identității unice a persoanei, capturând emoții și povestiri
      într-o gamă subtilă de tonuri. Indiferent dacă optați pentru un tatuaj mic
      și discret sau pentru un design mai elaborat, echipa noastră vă va ghida
      pentru a obține rezultate cu <span>adevărat impresionante.</span>
    </div>
    <div class="text mb-4">
      Avantajul este că se văd bine chiar și pe o piele mai inchisă, în timp
      căpătând o patină cu efect de <span>„clasic”.</span>
    </div>
    <div class="text mb-4">
      Această <span>tehnică</span> se concentrează pe crearea
      <span>umbrelor</span> și a luminozității, permițând tatuatorului să creeze
      <span>iluzii de adâncime, texturi și detalii complexe,</span> cu un aspect
      mai subtil și mai natural decât în cazul tatuajelor colorate.
    </div>
    <div class="text mb-4">
      Un tatuaj <span>„alb negru”</span> e mai
      <span>puțin dureros</span> deoarece tehnica implică diferite adâncimi în
      penetrarea epidermei și de multe ori se lucrează mult mai la
      <span>„suprafață”</span> decât în cazul tatuajelor colorate.
    </div>
    <div class="text mb-4">
      Iată câteva aspecte <span>importante</span> despre tehnica de executie a
      tatuajelor <span>black and gray:</span>
    </div>
    <div class="text mb-4">
      <span>1.</span> Utilizarea de
      <span>Nuanțe de Negru și Gri:</span> Principala caracteristică a
      tatuajelor black and gray este utilizarea nuanțelor de negru și gri (negru
      diluat) pentru a crea <span>contrast și adâncime.</span> Tatuatorii pot
      folosi diferite tonuri de negru și gri pentru a sugera
      <span>luminozitatea, umbrele și reliefurile.</span>
    </div>
    <div class="text mb-4">
      <span>2.</span> Crearea <span>Adâncimii și Detaliilor:</span> Tehnica
      black and gray este excelentă pentru a crea iluzii
      <span>tridimensionale</span> și pentru a accentua
      <span>detaliile fine.</span> Tatuatorii pot folosi diferite grosimi de
      linii și tonuri de gri pentru a da volum și adâncime designului.
    </div>
    <div class="text mb-4">
      <span>3.</span> Utilizarea de <span>Tehnici de Hașură:</span> Pentru a
      crea o iluzie de umbre și lumini, tatuatorii pot folosi tehnici de umbră
      care implică umplerea unor zone cu linii fine sau puncte (wipshading
      tattoo). Aceasta adaugă textură și realism în design, ținând cont de
      materialitatea suprafețelor
    </div>
    <div class="text mb-4">
      <span>4.</span> Procesul de <span>vindecare este mai rapid </span>datorită
      modului de execuție si tușurilor mai apoase.
    </div>

    <div class="text mb-4">
      A nu se confunda cu tatuajele <span>Opaq Gray,</span> care sunt tatuaje
      color, unde culoarile sunt <span>gri.</span> Deși sunt tot alb negru,
      <span>tehnica</span> realizării lor este <span>diferită.</span>
    </div>
  </div>
  <div
    class="lg:col-3 md:col-3 sm:col-12 flex align-items-center justify-content-center ml-8"
  >
    <img src="../../assets/gray.png" alt="tatuaje-mici" />
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
