<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Liniare</h1>
    <h1 class="subtitle mb-2">Eleganța în Simplitate</h1>

    <div class="text mb-4">
      Tatuajele din linii, cunoscute și sub denumirea de "lining tattoos", sunt
      un stil specific de artă corporală care se concentrează pe utilizarea
      liniilor drepte sau curbate pentru a crea designuri subtile, elegante și
      rafinate. Aceste tatuaje pun în valoare simplitatea și precizia liniilor,
      rezultând în designuri care pot varia de la minimaliste la complexe.
    </div>

    <div class="text mb-4">
      Iată câteva aspecte cheie despre tatuajele din linii:
    </div>

    <div class="text mb-4">
      <span>1.</span>Linii Drepte și Curbate: Designurile tatuajelor din linii
      se bazează pe utilizarea liniei drepte sau curbate ca element principal de
      construcție. Aceste linii pot fi subțiri sau mai groase, în funcție de
      efectul dorit.
    </div>
    <div class="text mb-4">
      <span>2.</span> Simplicitate și Eleganță: Tatuajele din linii sunt
      apreciate pentru simplitatea lor estetică și eleganță. Designurile pot fi
      foarte simple, cu liniile definind contururile unui obiect sau ale unui
      element, sau pot fi mai complexe, folosind linii multiple pentru a crea
      detalii.
    </div>
    <div class="text mb-4">
      <span>3.</span> Designuri Variate: Designurile pot varia de la simboluri,
      forme geometrice și animale până la obiecte, flori sau chiar portrete,
      toate create utilizând linii. Abilitatea artistului poate face diferența
      în crearea designurilor complexe și expresive.
    </div>
    <div class="text mb-4">
      <span>4.</span> Impact Vizual Puternic: Culorile vii pot avea un impact
      vizual puternic și pot atrage atenția imediat. Acestea pot fi folosite
      pentru a sublinia semnificația emoțională a unui tatuaj sau pentru a
      transmite un mesaj puternic.
    </div>
    <div class="text mb-4">
      <span>5.</span> Folosirea Spațiului Negativ: În designurile din linii,
      spațiul negativ joacă un rol important. Spațiul dintre liniile tatuajului
      poate contribui la definirea formelor și la obținerea unei compoziții
      echilibrate.
    </div>
    <div class="text mb-4">
      <span>6.</span> Adaptabilitate la Corp: Datorită simplității lor,
      tatuajele din linii pot fi ușor adaptate la forma corpului. Ele pot fi
      plasate pe diverse zone, cum ar fi încheieturile, antebrațele, gâtul sau
      chiar spatele.
    </div>
    <div class="text mb-4">
      <span>7.</span> Exprimare Personală: Tatuajele din linii oferă o
      modalitate de a exprima semnificații personale sau pasiuni prin
      intermediul unor designuri subtile și estetice.
    </div>
    <div class="text mb-4">
      Tatuajele din linii reprezintă o alegere atractivă pentru cei care
      apreciază simplitatea și își doresc să își exprime creativitatea și
      individualitatea printr-un stil de artă corporală subtil și rafinat.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
