<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuaje Mici</h1>
    <h1 class="subtitle mb-2">Primul Tatuaj ?</h1>
    <h1 class="subtitle2 mb-6">Emoția mai mare decât Durerea</h1>

    <div class="text mb-4">
      O să începem cu <span>tatuajele mici,</span> așa cum începe majoritatea:
    </div>
    <div class="text mb-4">
      Să vadă cum e și cât doare. Ca idee, emoția
      <span>primului tatuaj mic</span> e mai mare decât durerea în sine, iar
      <span>MIC</span> e mic în funcție de zona. Proporția este mai importantă
      decât mărimea propriu-zisă.
    </div>
    <div class="text">
      Mic nu înseamnă “minuscul” pentru că e sinonim cu “infim” și-ar duce spre
      inutil. Realizăm tatuaje mici pentru fete și băieți :)) cu aceeași
      <span>seriozitate și responsabilitate,</span> căci înțelegem perfect
      emoția primului tatuaj.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />

<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>

<app-contact></app-contact>
<br />
<br />
