<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Portret</h1>
    <h1 class="subtitle mb-2">Portrete realiste</h1>
    <h1 class="subtitle2 mb-6">Capturați Emoțiile în Culori</h1>
    <h1 class="subtitle2 mb-6">Capturarea Vieții și Emoțiilor</h1>

    <div class="text mb-4">
      În lumea fascinantă a tatuajelor, tatuajele cu portrete stau ca mărturie a
      puterii de a captura esența unei persoane sau a unui moment într-o operă
      permanentă.
    </div>
    <div class="text mb-4">
      La Sapiens Tattoo, suntem mândri să oferim o colecție de tatuaje cu
      portrete, care ne-au permis să „aducem la viață” chipuri dragi care nu mai
      sunt sau să imortalizăm personalități inspiraționale într-un mod cu totul
      unic. Nu te sfătuim să îți tatuezi portretul iubitei la 20 de ani!
    </div>
    <div class="text mb-4">
      Totuși, poate că portretul personajului principal din filmul preferat sau
      a unei personalități care a contribuit la o lume mai bună poate fi un
      tatuaj motivațional, încurajator care subliniază respectul și asumarea.
      Preferăm imagini profesionale, cât mai calitative ale subiectului dar gata
      cu detaliile. Te așteptăm cu ele la salonul nostru din Bucuresti sector 3.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
