<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Băieți</h1>
    <h1 class="subtitle mb-2">O Formă Autentică de Exprimare Personală</h1>
    <h1 class="subtitle2 mb-6">Adaugă Detalii la Povestea Ta de Viață</h1>
    <h1 class="subtitle2 mb-6">Redarea masculinității prin arta tatuajelor</h1>

    <div class="text mb-4">
      În multe culturi, masculinitatea a fost asociată cu trăsături precum forța
      fizică, independența, puterea, rezistența emoțională și liderii. Aceste
      stereotipuri tradiționale pot influența așteptările și comportamentele
      bărbaților.
    </div>
    <div class="text mb-4">
      Susținem importanța exprimării emoțiilor și considerăm că prin tatuaje
      putem facilita acest aspect. Tatuajele pentru barbați nu trebuie să fie
      neaparat mari, cu războinici și animale feroce, existând și cazuri în care
      masculii speciei aleg să-și exprime sensibilitatea, fricile, etc.
    </div>
    <div class="text mb-4">
      Descoperă galeria noastră de tatuaje pentru băieți, care include o
      varietate de designuri remarcabile. Indiferent dacă ești în căutarea unui
      prim tatuaj sau vrei să-ți extinzi colecția, vei găsi inspirație și
      opțiuni diverse care să-ți ofere un punct de pornire pentru propria ta
      creație.
    </div>

    <div class="text mb-4">
      Creație Personalizată La Sapiens Tattoo, suntem dedicați să transformăm
      viziunile tale în realitate. Echipa noastră te va ghida în alegerea
      designului ideal și îți va oferi sfaturi pentru a te asigura că tatuajul
      tău pentru băieți este o expresie autentică a ta. Contactează-ne astăzi
      pentru a începe călătoria ta artistică și pentru a transforma pielea ta
      într-o pânză unică de exprimare personală.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
