<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Sketch</h1>
    <h1 class="subtitle mb-2">Desene pe piele</h1>
    <h1 class="subtitle2 mb-6">De la idee la schiță</h1>

    <div class="text mb-4">
      Tatuajele sketched (sau skatch tattoos) sunt un stil artistic de tatuaj
      care imită aspectul schițelor sau desenelor în creion. Acest stil își
      datorează numele faptului că designurile seamănă cu schițele înainte de a
      fi finalizate sau colorate complet. Tatuajele sketched au câștigat
      popularitate datorită aspectului lor ușor neconvențional, artistic și
      original.
    </div>

    <div class="text mb-4">
      <span>1.</span> Aspect Schițat: Principalul element care definește
      tatuajele sketched este aspectul lor schițat și incomplet. Liniile pot
      părea a fi trasate liber, fără contururi clare sau definire completă.
    </div>
    <div class="text mb-4">
      <span>2.</span> Liniaritate Organică: Tatuajele sketched prezintă o
      liniaritate organică care sugerează spontaneitatea desenelor. Liniile pot
      avea o mișcare naturală, uneori neliniară, adăugând un aspect autentic și
      artistic designului.
    </div>
    <div class="text mb-4">
      <span>3.</span> Designuri Minimaliste: Sketchele tatuajelor se axează pe
      esență, iar designurile pot fi minimaliste. Elementele pot fi reduse la
      contururi și liniile principale, renunțând la detalii excesive.
    </div>
    <div class="text mb-4">
      <span>4.</span> Flexibilitate în Culori: Deși majoritatea tatuajelor
      sketched sunt monocrome, se pot introduce culori limitate pentru a adăuga
      accent sau pentru a evidenția anumite elemente. Totuși, stilul este
      cunoscut pentru utilizarea predominantă a negrului.
    </div>
    <div class="text mb-4">
      <span>5.</span> Designuri Personalizate: Tatuajele sketched oferă
      oportunități mari de personalizare. Tatuatorii pot colabora cu clienții
      pentru a crea designuri care să includă elemente semnificative, cum ar fi
      inițiale, nume sau simboluri importante.
    </div>
    <div class="text mb-4">
      <span>6.</span> Stil Jucaus și Artistic: Acest stil adaugă o notă de joacă
      și spontaneitate tatuajelor. Aspectul neterminat poate adăuga un sentiment
      de dinamică și mișcare designurilor.
    </div>
    <div class="text mb-4">
      <span>7.</span> Reprezentări Artistice: Tatuajele sketched pot include
      reprezentări artistice ale obiectelor, animalelor, oamenilor sau oricărui
      alt subiect. Designurile pot varia de la simboluri simple până la imagini
      mai complexe.
    </div>
    <div class="text mb-4">
      <span>8.</span> Aspect Unic și Original: Unul dintre aspectele atractive
      ale tatuajelor sketched este originalitatea. Designurile sunt unice și pot
      fi create pentru a se potrivi personalității și preferințelor fiecărui
      individ.
    </div>
    <div class="text mb-4">
      Tatuajele sketched sunt o alegere populară pentru cei care doresc un
      design artistic și neconvențional pe piele. Acest stil oferă oportunități
      creative atât pentru artiști, cât și pentru cei care caută o formă de
      exprimare distinctivă și personală prin intermediul tatuajelor.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
