<div
  class="lg:col-6 sm:col-12 md:col-12 flex align-items-center justify-content-center flex-column follow-us"
>
  <div class="mb-4 mt-4">Follow us on Social Media!</div>
  <div class="social-icons">
    <a
      href="https://www.facebook.com/people/Sapiens-Tattoo-Bucuresti/61550576736624/"
      target="_blank"
      class="icon"
      ><i class="fa-brands fa-facebook-f fa-xl"></i
    ></a>
    <a
      href="https://www.youtube.com/channel/UCH1B7np77K-j8hyDR27mEqg"
      target="_blank"
      class="icon"
      ><i class="fa-brands fa-youtube fa-xl"></i
    ></a>
    <a
      href="https://www.instagram.com/sapiens_tattoo"
      target="_blank"
      class="icon"
      ><i class="fa-brands fa-instagram fa-xl"></i
    ></a>
    <a
      href="https://www.facebook.com/people/Sapiens-Tattoo-Bucuresti/61550576736624/"
      target="_blank"
      class="icon"
      ><i class="fa-brands fa-tiktok fa-xl"></i
    ></a>
  </div>
</div>
<div
  class="lg:col-12 sm:col-12 md:col-12 flex align-items-center justify-content-center flex-column"
>
  <div class="contact-container">
    <div class="title mb-2 mt-4"><h3>CUM SĂ NE</h3></div>
    <div class="title-contact mb-2">CONTACTEZI?</div>
    <div class="title-portofolio mb-2 mt-4">Verifică-ne portofoliul!</div>
    <div class="title-acum mb-2 mt-4"><h3>Îți place? Bun! Acum:</h3></div>
    <div class="title-mesaj mb-2 mt-4">
      Lasă-ne un mesaj pe retelele sociale sau whatsapp, cu toate detaliile la
      care te-ai gandit sau suna-ne!
    </div>
    <div class="title-mesaj mb-2 mt-4">
      Stabilim detalii, încercăm să îți aproximăm și un preț dar este posibil să
      te chemăm înainte la o consultare gratuită pentru a ne și cunoaște, a
      eficientiza comunicarea, implicit calitatea serviciilor noastre! Numa’
      bine!
    </div>
  </div>
</div>
<div class="grid mb-6">
  <div
    class="lg:col-6 sm:col-12 md:col-12 flex align-items-center justify-content-center flex-column mt-6"
  >
    <div class="phone">0737 689 330</div>
    <div class="social-icons m-6">
      <a
        href="https://www.facebook.com/people/Sapiens-Tattoo-Bucuresti/61550576736624/"
        target="_blank"
        class="icon"
        ><i class="fa-brands fa-facebook-f fa-xl"></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UCH1B7np77K-j8hyDR27mEqg"
        target="_blank"
        class="icon"
        ><i class="fa-brands fa-youtube fa-xl"></i
      ></a>
      <a
        href="https://www.instagram.com/sapiens_tattoo"
        target="_blank"
        class="icon"
        ><i class="fa-brands fa-instagram fa-xl"></i
      ></a>
      <a
        href="https://www.facebook.com/people/Sapiens-Tattoo-Bucuresti/61550576736624/"
        target="_blank"
        class="icon"
        ><i class="fa-brands fa-tiktok fa-xl"></i
      ></a>
    </div>
    <div class="title mt-6 mb-2">Adresa</div>
    <div class="address">Liviu Rebreanu 6, Bloc B1, scara B, ap.310</div>
    <div class="address">Sector 3, Bucuresti</div>
  </div>
  <div class="lg:col-6 sm:col-12 md:col-12 mt-6">
    <google-map
      height="100%"
      width="70%"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
    >
      <map-marker [position]="markerPosition"></map-marker>
    </google-map>
  </div>
</div>
