<div class="grid">
    <div class="col-6">
        Contact
        <a
  href="https://wa.me/+40732087298/?text=Hello%20there!"
  target="_blank"
  rel="noopener noreferrer"
>
  <button>Open WhatsApp</button>
</a>
    </div>
    <div class="col-6">
        <!-- <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
             <map-marker [position]="markerPosition"></map-marker>
        </google-map> -->
    </div>
</div>