.title {
  font-size: 38px;
  color: #b68116;
}

.phone {
  font-size: 38px;
  text-decoration: underline;
  color: #b68116;
}

.address {
  font-weight: 700;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .phone {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 26px;
  }

  .phone {
    font-size: 26px;
  }
}

.follow-us {
  width: 100%;
  color: white;
  font-size: 35px;
}

.contact-container {
  max-width: 1200px;

  .title-contact {
    font-size: 150px;
    margin-top: -25px;
    color: #b68116;
  }

  .title-portofolio {
    font-size: 80px;
  }

  .title-acum {
    font-size: 50px;
  }

  .title-mesaj {
    font-size: 24px;
  }
}

.social-icons {
  .icon {
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: 30px;

    i {
      vertical-align: -webkit-baseline-middle;
    }

    &:hover {
      color: #b68116;
      transition: ease-in 0.4s;
    }
  }
}

.map-container {
  min-height: 400px;
  min-width: 400px;
}
