<div class="grid">
    <div class="col-3" *ngFor="let review of reviews">
      <div class="card">
        <div *ngIf="review.profile_photo_url" class="p-card-header">
            <img [src]="review.profile_photo_url" alt="Profile Photo">
          </div>
        <div class="card-header">
          Author: {{ review.author_name }}
        </div>
        <div class="card-body">
          <p>Rating: {{ review.rating }} / 5</p>
          <p>Text: {{ review.text }}</p>
        </div>
        <div>
            Tune ago: {{ review.relative_time_description }}
        </div>
        <div>
            Go to review : <a href="{{ review.author_url }}" target="_blank">Go To Review</a>
        </div>
      </div>
    </div>
  </div>
  