<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Geometrice</h1>
    <h1 class="subtitle mb-2">Precizie & Simboluri</h1>
    <h1 class="subtitle2 mb-6">De la Matematică la Artă</h1>
    <h1 class="subtitle2 mb-6">
      Mai <span>putin dureroase</span> decât tatuajele full color
    </h1>

    <div class="text mb-4">
      Tatuajele geometrice sunt o formă distinctă și modernă de artă corporală,
      caracterizată prin utilizarea formelor geometrice, liniilor drepte sau
      curbe și unghiurilor pentru a crea designuri complexe și estetice. Deși
      par în multe cazuri mai simple, necesită o atenție de chinez nebun, batrân
      și harnic.
    </div>

    <div class="text mb-4">
      1. <span>Simplitate și Eleganță:</span>Tatuajele geometrice se remarcă
      prin simplitatea lor rafinată și estetica modernă. Formele precum cercuri,
      triunghiuri, linii drepte și poligoane sunt utilizate pentru a crea
      designuri cu un aspect curat și elegant.
    </div>
    <div class="text mb-4">
      2. Compoziții Intrigante: Tatuajele geometrice pot lua forma unor
      compoziții complexe sau minimaliste, în funcție de preferințele tale. De
      la modele intricate care se împletesc și creează iluzii optice, la
      designuri minimaliste care folosesc doar câteva forme pentru a transmite
      un mesaj, opțiunile sunt variate.
    </div>
    <div class="text mb-4">
      3. Personalizare Creativă: Tatuajele geometrice oferă oportunități mari de
      personalizare. Fie că adaugi elemente speciale, cum ar fi nume sau date
      importante, sau combini geometria cu alte stiluri de tatuaj, poți crea un
      design care să îți reflecte personalitatea și identitatea.
    </div>
    <div class="text mb-4">
      4. Tehnică și Precizie: Realizarea tatuajelor geometrice necesită
      abilități tehnice avansate. Tatuatorii trebuie să lucreze cu precizie
      pentru a obține linii drepte și unghiuri corecte. Atingerea acestor
      detalii fine asigură că designul rămâne clar și estetic pe termen lung.
    </div>
    <div class="text mb-4">
      5. Diversitate de Stiluri: Tatuajele geometrice pot fi realizate într-o
      gamă largă de stiluri și direcții. De la tatuaje black and gray până la
      tatuaje colorate sau chiar aquarelle, puteți alege stilul care se
      potrivește cel mai bine viziunii dvs. artistice.
    </div>
    <div class="text mb-4">
      6. Încorporează Semnificații: Tatuajele geometrice pot încorpora
      semnificații profunde sau pot fi create pentru a accentua aspectele
      estetice. Formele geometrice pot avea semnificații spirituale, matematice
      sau personale, și pot fi interpretate în diferite moduri.
    </div>
    <div class="text mb-4">
      Tatuajele geometrice sunt o modalitate strălucitoare de a adăuga un
      element de design modern și abstract pe piele. Dacă ești atras de linii
      curate, simetrie și estetică geometrică, această tehnică poate fi o
      alegere excelentă pentru tatuajul tău. Lucrând cu un tatuator cu
      experiență în acest stil, poți obține un design geometric captivant și
      personalizat.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
