<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele <span class="gray">Color</span></h1>
    <h1 class="subtitle mb-2">Vibrație și Expresivitate</h1>
    <h1 class="subtitle2 mb-6">Capturați Emoțiile în Culori</h1>
    <h1 class="subtitle2 mb-6">
      Mai <span>putin dureroase</span> decât tatuajele full color
    </h1>

    <div class="text mb-4">
      Tatuajele <span>color</span> reprezintă o formă vibrantă și expresivă de
      artă corporală, în care se utilizează o varietate de culori pentru a crea
      designuri vii și captivante pe piele. Această <span>tehnică</span> permite
      tatuatorilor să creeze imagini
      <span>pline de viață, detalii și culoare,</span> oferind posibilități
      nesfârșite pentru exprimarea creativității și individualității.
    </div>
    <div class="text mb-4">
      Universul se mărește: față de tatuajele monocrome, unde ne jucam cu negrul
      și lipsa negrului împreună cu puțin alb, ca să redăm întunericul și lumina
      pentru crearea volumelor, în cazul tatuajelor colorate apar și Nuanțele pe
      langă Tonalitate. Vorbim despre Cald versus Rece. Prin urmare avem o șansă
      în plus în redarea sentimentelor, unor stări.
    </div>
    <div class="text mb-4">
      Există o grămadă de stiluri în realizarea tatuajelor colorate, cum ar fi
      watercolor tattoos, unde se imită efectul de acuarelă. Există si full
      color realistic tattoo, unde se încearcă imitarea cat mai precisă a
      realității din spatele unei fotografi. Putem îmbina culorile cu elemente
      monocrome. La fel ca în arta picturii, posibilitățile sunt nemarginite.
    </div>

    <div class="text mb-4">
      Iată câteva aspecte cheie despre tatuajele color:
    </div>

    <div class="text mb-4">
      <span>1.</span> Gamă Largă de Culoare: Tatuajele color permit utilizarea
      unei game largi de culori, de la cele vibrante și strălucitoare la
      tonurile mai subtile și pastelate. Această varietate de nuanțe permite
      tatuatorilor să creeze efecte de adâncime, luminozitate și contrast în
      design.
    </div>
    <div class="text mb-4">
      <span>2.</span> Realism și Detalii: Tehnica color este ideală pentru a
      crea tatuaje realiste și detaliate. Cu ajutorul culorilor, tatuatorii pot
      reprezenta cu precizie texturi, lumini și umbre, dând viață designurilor
      și capturând realismul imaginilor.
    </div>
    <div class="text mb-4">
      <span>3.</span> Creație și Imaginație Liberă: Tatuajele color oferă o
      libertate creativă amplă. Artiștii pot combina culorile în moduri unice și
      inovatoare pentru a realiza designuri personalizate și originale. Fie că
      doriți un tatuaj inspirat din natură, artă abstractă sau personaje de
      ficțiune, opțiunile sunt nelimitate.
    </div>
    <div class="text mb-4">
      <span>4.</span> Impact Vizual Puternic: Culorile vii pot avea un impact
      vizual puternic și pot atrage atenția imediat. Acestea pot fi folosite
      pentru a sublinia semnificația emoțională a unui tatuaj sau pentru a
      transmite un mesaj puternic.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
