.social-icons {
  .icon {
    color: #fff;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-top: 13px;

    &.whatsapp-icon {
      animation: colorCycle 2s infinite; /* 2 seconds for each cycle, infinite loop */
      border-radius: 50%;
      border: 2px solid transparent;
    }

    i {
      vertical-align: -webkit-baseline-middle;
    }

    &:hover {
      color: #b68116;
      transition: ease-in 0.4s;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  .fa-xl {
    font-size: 1.3em;
    margin-right: 0;
  }
  .icon {
    width: 30px !important;
    height: 30px !important;
  }
  .social-icons {
    margin-top: 0;
    margin-bottom: 11px;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 20px !important;
    height: 20px !important;
  }
  .social-icons {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

:host ::ng-deep .p-menubar {
  position: sticky;
  position: -webkit-sticky;
}

.sticky-menubar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes colorCycle {
  0% {
    color: #fff;
  }
  50% {
    color: #b68116;
  }
  100% {
    color: #fff;
  }
}
