<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuaje Citate</h1>
    <h1 class="subtitle mb-2">Tatuaje cu Scrisuri</h1>
    <h1 class="subtitle2 mb-6">„A te tatua sau a nu te mai tatua!”</h1>

    <div class="text mb-4">
      Tatuajele cu scrisuri și citate sunt o formă de artă corporală care
      implică aplicarea de texte, cuvinte sau fraze semnificative direct pe
      piele. Aceste tatuaje pot varia în stiluri de scriere, fonturi și
      conținut, și pot avea semnificații personale, inspiraționale,
      motivaționale sau chiar filozofice.
    </div>
    <div class="text mb-4">
      Unii scriu frumos alții nu. Deși par simple, tatuajele cu scris caligrafic
      sau de tipar necesită anumite skiluri în cursivitatea realizării lor.
      Ascultă tatuatorul când vine vorba de marimea și pozitionarea corectă a
      unui tatuaj cu text, cât și despre alegerea fontului.
    </div>

    <div class="text mb-4">
      <span>1.</span>Variație în Stiluri de Scriere: Tatuajele cu scrisuri pot
      să se adapteze unei game variate de stiluri de scriere. De la fonturi
      subțiri și elegante până la cele groase și decorative, opțiunile sunt
      diverse.
    </div>
    <div class="text mb-4">
      <span>2.</span> Semnificații Personale: Multe persoane aleg să-și tatueze
      pe piele citate sau fraze care au o semnificație personală sau emoțională
      pentru ele. Acestea pot să fie amintiri speciale, motivații sau cuvinte
      care reprezintă valorile personale.
    </div>
    <div class="text mb-4">
      <span>3.</span> Inspirare și Motivație: Tatuajele cu citate pot să fie
      sursa de inspirație și motivație pentru cei care le poartă și pentru cei
      din jur. Cuvintele puternice și încurajatoare pot să aducă un sentiment de
      determinare și încredere.
    </div>
    <div class="text mb-4">
      <span>4.</span> Exprimare a Identității: Tatuajele cu citate pot să
      exprime personalitatea și interesele purtătorului. De la citate din cărți
      și filme preferate până la aforisme sau expresii cu semnificație specială,
      ele pot să arate o latură unică a persoanei.
    </div>
    <div class="text mb-4">
      <span>5.</span> Artă a Cuvintelor: Tatuajele cu scrisuri pot să fie
      considerate o formă de artă a cuvintelor. Modul în care sunt dispuse și
      încadrate cu designul general poate contribui la aspectul vizual și la
      mesajul transmis.
    </div>
    <div class="text mb-4">
      <span>6.</span> Localizare și Dimensiune: Tatuajele cu scrisuri pot să fie
      plasate pe diverse zone ale corpului. De la încheieturi sau brațe până la
      coaste sau gât, dimensiunea și localizarea pot să influențeze aspectul
      final.
    </div>
    <div class="text mb-4">
      <span>7.</span> Limite în Lungime: Fiindcă spațiul pe piele este limitat,
      tatuajele cu citate necesită concizie în redactare. Citatele mai scurte
      pot avea un impact mai puternic, în timp ce citatele mai lungi pot fi
      amplasate pe zone mai extinse ale corpului.
    </div>
    <div class="text mb-4">
      <span>8.</span> Alegerea Corectă a Cuvintelor: Este important să alegi cu
      atenție cuvintele sau frazele pe care le dorești tatuate pe piele. Ele vor
      rămâne cu tine pentru totdeauna, așa că trebuie să fie semnificative și
      reprezentative pentru tine.
    </div>
    <div class="text mb-4">
      Tatuajele cu scrisuri și citate sunt o modalitate puternică și expresivă
      de a-ți aduce cu tine cuvintele și gândurile care contează cel mai mult.
      Cu atenție la detaliu și colaborare cu un artist talentat, poți transforma
      un citat sau o frază într-un design remarcabil și semnificativ pe piele.
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
