<div class="grid flex align-items-center m-4">
    <div class="lg:col-8 md:col-8 sm:col-12">
        <h1 class="title mb-2">Tatuaje Medii</h1>
        <h1 class="subtitle mb-2">Alege tatuajul potrivit pentru tine!</h1>
        <h1 class="subtitle2 mb-6">Uneori mărimea Contează</h1>

    
        <div class="text mb-4"><span>Mediu</span> poate să ducă și spre mare și spre mic, având avantajul spațiului de a spune <span>o poveste mai complexă</span> decât tatuajele <span>mici</span> și să se vadă la fel de bine ca tatuajele <span>mari.</span></div>
        <div class="text mb-4"> Când spunem bine, ne referim îndeosebi la <span>claritatea</span> lor de la 1-2 metri distantă să zicem, la modu’ că te scutește de întrebări ca „ce ai acolo?” și <span>dă sens</span> tatuajului; însă nu și de „ce reprezintă tatuajul tău?”, aici tu tre’ să cauți <span>sensul,</span> să eviți <span>clișeele</span> și să ai la bază <span>un concept</span> pe care îl putem <span>dezvolta împreună la salon.</span></div>
        <div class="text">Pentru <span>o programare</span> poți veni doar cu <span>ideea, nu musai cu desenul.</span> Ne scrii înainte, discutăm conceptul și o să ajungem la un <span>custom tattoo.</span></div>
    </div>
    <div class="lg:col-3 md:col-3 sm:col-12 flex align-items-center justify-content-center">
        <img src="../../assets/MEDII.png" alt="tatuaje-mici">
    </div>
</div>
<hr class="mt-4">
<div class="photo-grid mb-8 mr-2 ml-2">
    <div class="photo-item"><img src="../../assets/Medii/1.jpg" alt="Photo 1"></div>
    <div class="photo-item"><img src="../../assets/Medii/3.jpg" alt="Photo 3"></div>
    <div class="photo-item"><img src="../../assets/Medii/4.jpg" alt="Photo 4"></div>

    <div class="photo-item"><img src="../../assets/Medii/5.jpg" alt="Photo 5"></div>
    <div class="photo-item"><img src="../../assets/Medii/6.jpg" alt="Photo 6"></div>
    <div class="photo-item"><img src="../../assets/Medii/7.jpg" alt="Photo 7"></div>
    <div class="photo-item"><img src="../../assets/Medii/8.jpg" alt="Photo 8"></div>

    <div class="photo-item"><img src="../../assets/Medii/9.jpg" alt="Photo 9"></div>
    <div class="photo-item"><img src="../../assets/Medii/10.jpg" alt="Photo 10"></div>
    <div class="photo-item"><img src="../../assets/Medii/11.jpg" alt="Photo 11"></div>
    <div class="photo-item"><img src="../../assets/Medii/12.jpg" alt="Photo 12"></div>
    
    <div class="photo-item"><img src="../../assets/Medii/13.jpg" alt="Photo 13"></div>
    <div class="photo-item"><img src="../../assets/Medii/14.jpg" alt="Photo 14"></div>
    <div class="photo-item"><img src="../../assets/Medii/15.jpg" alt="Photo 15"></div>
    <div class="photo-item"><img src="../../assets/Medii/16.jpg" alt="Photo 16"></div>

    <div class="photo-item"><img src="../../assets/Medii/17.jpg" alt="Photo 16"></div>
    <div class="photo-item"><img src="../../assets/Medii/18.jpg" alt="Photo 16"></div>
    <div class="photo-item"><img src="../../assets/Medii/19.jpg" alt="Photo 16"></div>
    <div class="photo-item"><img src="../../assets/Medii/20.jpg" alt="Photo 16"></div>
    <div class="photo-item"><img src="../../assets/Medii/21.jpg" alt="Photo 16"></div>
    
</div>
<app-contact></app-contact>
<br>
<br>