<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuaje Medii</h1>
    <h1 class="subtitle mb-2">Alege tatuajul potrivit pentru tine!</h1>
    <h1 class="subtitle2 mb-6">Uneori mărimea Contează</h1>

    <div class="text mb-4">
      <span>Mediu</span> poate să ducă și spre mare și spre mic, având avantajul
      spațiului de a spune <span>o poveste mai complexă</span> decât tatuajele
      <span>mici</span> și să se vadă la fel de bine ca tatuajele
      <span>mari.</span>
    </div>
    <div class="text mb-4">
      Când spunem bine, ne referim îndeosebi la <span>claritatea</span> lor de
      la 1-2 metri distantă să zicem, la modu’ că te scutește de întrebări ca
      „ce ai acolo?” și <span>dă sens</span> tatuajului; însă nu și de „ce
      reprezintă tatuajul tău?”, aici tu tre’ să cauți <span>sensul,</span> să
      eviți <span>clișeele</span> și să ai la bază <span>un concept</span> pe
      care îl putem <span>dezvolta împreună la salon.</span>
    </div>
    <div class="text">
      Pentru <span>o programare</span> poți veni doar cu
      <span>ideea, nu musai cu desenul.</span> Ne scrii înainte, discutăm
      conceptul și o să ajungem la un <span>custom tattoo.</span>
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
