/* You can add global styles to this file, and also import other style files */
body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;

}