<div class="text-wrapper">
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
  <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
</div>
<div
  class="container parallax-container flex align-items-center justify-content-center flex-column bg"
>
  <div class="parallax-bg"></div>
  <div class="parallax-content">
    <h1 class="header">SAPIENS TATTOO</h1>
    <h2 class="sub-header text-left">Salon Tatuaje & Piercing Bucuresti</h2>
    <h3 class="quote mb-8">„Durerea trece, tatuajele raman”</h3>

    <div class="description1 text-right mb-8">
      Mai mult decât un tatuaj,<br />
      rămâi cu <span class="span-style">experiența</span>.<br />
      Conexiunea cu artiștii noștri <br />+Terapia prin durere.
    </div>
    <div class="description2 mb-4">
      <span class="span-style">Conturăm cu grijă,</span><br />
      SENTIMENTE!
    </div>
  </div>
</div>

<div class="mt-8 container-div">
  <app-categorii-tatuaje></app-categorii-tatuaje>
</div>
<hr class="mt-8" />
<!-- <div>
    <app-echipa></app-echipa>
</div> -->
<div>
  <app-contact></app-contact>
</div>
<hr class="mt-8 mb-8" />
<div>
  <app-google-reviews></app-google-reviews>
</div>
