<div class="text-wrapper">
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
    <h1 class="marquee-text">Tatuajul este moft, durere, motivatie, amintire</h1>
</div>
<div class="container flex align-items-center justify-content-center flex-column">
    <img routerLink="home" src="../assets/sapiens.png" height="50%" width="50%" class="mr-2" />
    <img routerLink="home" src="../assets/FILIGRAN.png" class="mr-2" class="top-right-image"/>
    <h2 class="sub-header">Salon Tatuaje & Piercing Bucuresti</h2>
    <h3 class="quote">„Durerea trece, tatuajele raman”</h3>

    <div class="description">Tatuajul trebuie asumat pe viață! <span class="span-style">Cu curaj.</span> Poate fi o speranță, un imbold spre evadare, o cale de a ieși în evidență sau un simplu moft. Împreună cu durerea, în unele cazuri mai mică sau mai mare, poate fi o formă de spovedanie, dacă nu, cel puțin o formă de terapie. Tatuajele pot însemna multe dar în nici un caz nu sunt o necesitate.</div>
    <div class="description"><span class="span-style">Artă sau Meșteșug?</span> Prin natura ocupației noastre oferim un serviciu de lux. Cu seriozitate și respect față de această meserie frumoasă, facem tot posibilul să îți îndeplinim dorința și să fim mândri de lucrările noastre în timpul trecerii anilor.</div>
</div>

<div class="mt-8 container-div">
    <app-categorii-tatuaje></app-categorii-tatuaje>
</div>
<hr class="mt-8">
<div>
    <app-echipa></app-echipa>
</div>
<div>
    <app-contact></app-contact>
</div>