.text-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.marquee-text {
    font-size: 23px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    white-space: nowrap;
    color: #B68116;
    padding: 2rem 2rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container {
    text-align: center;
    padding: 20px;
    color: #fff;
    position: relative;
}

.top-right-image {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: auto; /* Adjust the max-width as needed */
    height: auto;
}

.sub-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.quote {
    font-style: italic;
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.span-style {
    font-weight: bold;
    color: #B68116;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .sub-header {
        font-size: 20px;
    }
    .quote {
        font-size: 16px;
    }
    .description {
        font-size: 14px;
    }
    .marquee-text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }
    .header {
        font-size: 24px;
    }
    .sub-header {
        font-size: 18px;
    }
    .quote {
        font-size: 14px;
    }
    .description {
        font-size: 12px;
    }
    .marquee-text {
        font-size: 18px;
    }
}