.text-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin: 0 auto;
}

.marquee-text {
  font-size: 23px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #fff;
  text-stroke-color: #fff;
  white-space: nowrap;
  color: #b68116;
  padding: 2rem 2rem;
  letter-spacing: 1px;
  animation: move-rtl 6000ms linear infinite;
  animation-play-state: running;
}

.text-wrapper:hover .marquee-text {
  animation-play-state: paused;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.sub-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.quote {
  font-style: italic;
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  max-width: 800px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.span-style {
  font-weight: bold;
  color: #b68116;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .sub-header {
    font-size: 20px;
  }
  .quote {
    font-size: 16px;
  }
  .description {
    font-size: 14px;
  }
  .marquee-text {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }
  .header {
    font-size: 24px;
  }
  .sub-header {
    font-size: 18px;
  }
  .quote {
    font-size: 14px;
  }
  .description {
    font-size: 12px;
  }
  .marquee-text {
    font-size: 18px;
  }
}

.parallax-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/bg.png) no-repeat;
  background-size: 107%;
  background-attachment: fixed;
  background-position: 40% 10%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-position-x 0.3s ease-out;
}

.parallax-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
