<div class="grid flex m-4">
  <div class="lg:col-8 md:col-8 sm:col-12">
    <h1 class="title mb-2">Tatuajele Custom</h1>
    <h1 class="subtitle mb-2">Tatuaje Personalizate</h1>

    <div class="text mb-4">
      Tatuajele custom, modelele personalizate sunt de departe cea mai bună
      alegere datorită originalității lor. Vrei un tatuaj dar nu știi clar ce
      vrei sau cum să arate? E perfect, pentru că aici putem interveni noi. Vino
      la consultare!
    </div>
    <div class="text mb-4">
      Ne poți povesti despre tine. Experiențele tale, convingerile tale,
      împreună cu creativitatea tatuatorilor noștri pot naște tatuaje minunate.
      Mai ales că astfel, artiștii au o libertate creativă mult mai mare și cu
      siguranță vor fi entuziaști. Discutăm, ne cunoaștem, facem!
    </div>
    <div class="text mb-4">
      Nimic nu e nou sub soare! Însă poate arăta diferit. Venim noi cu idei de
      tatuaje, dar depinde mult și de ajutorul si deschiderea ta. Te poti
      pregati de acasă, scriind pe o foaie 10 cuvinte care reprezintă ceva
      pentru tine. Tatuajul poate fi motivațional, sau o stare de spirit. Poate
      aminti despre ceva ce tu iubești. Sau poate vrei să reprezinți ceva. Spor!
      Ne vedem la salon!
    </div>
  </div>
  <div class="lg-col-4 md-col-4 sm-col-12">
    <h2>Imaginessssssssssssssssssss</h2>
  </div>
</div>
<hr class="mt-4" />
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
<app-contact></app-contact>
<br />
<br />
